:root {
    --left-width: 100px;
    --left-hover-width:30%;
}
* {
    margin: 0;
}
html {
    scroll-behavior: smooth scroll;
}
section {
    width: 100%;
    height: 100vh;
}
#S0 {
    background-color:rgb(255, 183, 0);
}

#S1 {
    background-color: aqua;
    padding-left:30px;
}
#S2 {
    background-color: yellow;
}
#S3 {
    background-color: green;
}
#S4 {
    background-color: wheat;
}

:root {
    --left-width: 100px; 
    --left-hover-width:15%;
    
}

.grid:has(.left:hover) {
    grid-template-columns: var(--left-hover-width) auto;
}

.grid {
    display: grid;
    grid-template-columns: var(--left-width) auto;
    height: 100vh;
    transition: 0.5s;
}
.left {
    background-color:grey;
    background-image: url(../cat.png);
}

