
        @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

        * {
            font-family: 'Gowun Dodum', sans-serif;
            
        }

        .mytitle {
            color: rgb(12, 12, 12);
            height: 200px;

            /* 내용물을 정렬 */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: yellow;
            background-position: center;
            background-size: cover;
        }

        .mytitle > button {
            width: 50px;
            height: 50px;
            background-color: transparent;
            border: none;
            color: rgb(8, 8, 8);
            font-size: 18px;
            font-weight: bold;
            border-radius: 5px;
            border: 1px solid rgb(15, 14, 14);
            margin-top: -90px;
            margin-right:2200px;
        }

        .mycards {
            margin: 1px 1px 1px 1px;
            max-width: 20%;
            
        }

        .mypostbox {
            width: 700px;
            height: 535px;
            margin: -540px auto 400px 285px;
            padding: 20px 20px 20px 20px;
            border-radius: 5px; 
            box-shadow: 0px 0px 20px 0px rgb(255, 213, 0);
            background-position: center;
            align-items: center;
            justify-content: center;
        }
        .mybtn {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-weight: 500;

            margin-top: 10px;
        }

        .mybtn>button {
            margin-right: 10px;
            border-radius: 50px;
            
        }
        
        .card-footer .placeholder h4 {
            color: rgba(6, 6, 6, 0.889); /* 원하는 색상으로 변경 (예: 빨간색) */
            font-size: 5px; /* 원하는 크기로 변경 (예: 14px) */
            align-items: center;
        }
        .mypostbox .label {
            color:yellow;

        }
        /* 바탕 레이아웃 */
        :root {
            --left-width: 100px;
            --left-hover-width:30%;
        }
        * {
            margin: 0;
        }
        html {
            scroll-behavior: smooth scroll;
        }
        section {
            width: 100%;
            height: 100vh;
        }
        #S0 {
            background-color:#fdd99e;
        }
        
        #S1 {
            background-color: lightcoral;;
        }
        #S2 {
            background-color: rgb(255, 190, 233);
        }
        #S3 {
            background-color: lightpink;;
        }
        #S4 {
            background-color: lightsalmon;
        }
        
        :root {
            --left-width: 100px; 
            --left-hover-width:15%;
            
        }
        
        .grid:has(.left:hover) {
            grid-template-columns: var(--left-hover-width) auto;
        }
        
        .grid {
            display: grid;
            grid-template-columns: var(--left-width) auto;
            height: 100vh;
            transition: 0.5s;
        }
        .left {
            background-color:grey;
            background-image: url(../cat.png);
        }
        
        
