@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    font-family: 'Gowun Dodum', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.swiper {
width: 100%;
height: 900px;
margin: 6px auto;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
background-color: lightsalmon;
}

.img1 {
    width: 300px;
    height: 300px;
  
    /* 단비 이미지 조절 */
}
/* 팀 제목 동물 이미지 css */
.imgwrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.imgmonkey {
  transform: rotate(-25deg); /* Adjust the angle as needed */
}
.imgchicken {
  transform: rotate(15deg); /* Adjust the angle as needed */
}
.imgbunny {
  transform: rotate(-15deg); /* Adjust the angle as needed */
}
.imgtiger {
  transform: rotate(25deg); /* Adjust the angle as needed */
}




.maintitle {
    font-size: 80px;
    font-weight: bold;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;

    /* 코드짜조 메인 타이틀 조절 */
}

.swiper-slide .card-container {
    background-color: transparent;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 7%;

    /* 멤버 카드들을 담은 컨테이너 */
}

.swiper-slide .card {
    width: 9rem;
    height: 600px;
    margin: 0 10px;
    border-color: transparent;
    border-radius: 15px;

    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 208, 181);

    /* 멤버 카드의 크기, 배경색 및 경계 조절 */
}

.swiper-slide .card-body {
    margin-top: 10px;

  /* 카드 footer부분 링크 위치 조절 */
}

.card .list-group {
    font-size: 18px;
    font-weight: bold;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* 리스트 그룹아이템의 폰트 사이즈 및 정렬 */
}

.card .card-img-top {
    border-radius: 15px;
    height: 640px;

    /* 멤버카드 헤더부분, 삽입된 이미지 조절 */
}

.card .list-group-item { 
    background-color: transparent;
    /* 멤버 카드의 팀장, 이름, mbti 글자 및 배경색  */
}

.texthead2 {
    font-size: 68px;
    font-weight: bold;

    width: 400px;
    height: 300px;

    margin: 10px auto auto 10px;

}
.append-buttons {
    margin: auto;
background-color: lightsalmon;
text-align: center; /* Center-align the content horizontally */
}

.append-buttons a {

display: inline-block;
border: 1px solid #007aff;
color: #007aff;
text-decoration: none;
padding: auto;
border-radius: 4px;
margin: 0 10px;
font-size: 20px;
text-align: center; /* Center-align the text within the buttons */
}
.texthead1 {
    font-size: 68px;
    font-weight: bold;

    width: 600px;
    height: 300px;

    margin: 10px auto auto 10px;

}
.texthead2 {

    font-size: 68px;
    font-weight: bold;

    width: 400px;
    height: 300px;

    margin: 10px auto auto 10px;

}
.text1 {
    font-size: 64px;
    font-weight: bold;
    width: 900px;
    height: 150px;
    margin: 2% auto; 

}

.text2 {
    font-size: 72px;
    font-weight: bold;

    width: 550px;
    height: 150px;

    margin: 0 auto auto 60%;
}
.textwrap {

    width: 100vw;
    height: 100vh;

}
.menu {
    min-width: auto;
    width: 70%;
    max-width: auto;

    background-color: #2c8dfb;
    color: #fff;
  }

  .content {
    width: 100%;
  }

  .menu-button {
    position: absolute;
    top: 0px;
    left: 0px;

    padding: 15px;

    cursor: pointer;

    -webkit-transition: 0.3s;
    transition: 0.3s;

    background-color: #2c8dfb;

    /*margin: 14px;
          border-radius: 5px;*/
  }

  .menu-button .bar:nth-of-type(1) {
    margin-top: 0px;
  }

  .menu-button .bar:nth-of-type(3) {
    margin-bottom: 0px;
  }

  .bar {
    position: relative;
    display: block;

    width: 50px;
    height: 5px;

    margin: 10px auto;
    background-color: #fff;

    border-radius: 10px;

    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .menu-button:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(1.5px) rotate(-4.5deg);
    -ms-transform: translateY(1.5px) rotate(-4.5deg);
    transform: translateY(1.5px) rotate(-4.5deg);
  }

  .menu-button:hover .bar:nth-of-type(2) {
    opacity: 0.9;
  }

  .menu-button:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-1.5px) rotate(4.5deg);
    -ms-transform: translateY(-1.5px) rotate(4.5deg);
    transform: translateY(-1.5px) rotate(4.5deg);
  }

  .cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    -ms-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
  }

  .cross .bar:nth-of-type(2) {
    opacity: 0;
  }

  .cross .bar:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(45deg);
    -ms-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
  }

  .cross:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(13.5px) rotate(-40.5deg);
    -ms-transform: translateY(13.5px) rotate(-40.5deg);
    transform: translateY(13.5px) rotate(-40.5deg);
  }

  .cross:hover .bar:nth-of-type(2) {
    opacity: 0.1;
  }

  .cross:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-13.5px) rotate(40.5deg);
    -ms-transform: translateY(-13.5px) rotate(40.5deg);
    transform: translateY(-13.5px) rotate(40.5deg);
  }

  .content {
    width: 100%;
  }

  .menu-button {
    position: absolute;
    top: 0px;
    left: 0px;

    padding: 15px;

    cursor: pointer;

    -webkit-transition: 0.3s;
    transition: 0.3s;

    background-color: #2c8dfb;

    /*margin: 14px;
          border-radius: 5px;*/
  }

  .menu-button .bar:nth-of-type(1) {
    margin-top: 0px;
  }

  .menu-button .bar:nth-of-type(3) {
    margin-bottom: 0px;
  }

  .bar {
    position: relative;
    display: block;

    width: 50px;
    height: 5px;

    margin: 10px auto;
    background-color: #fff;

    border-radius: 10px;

    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .menu-button:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(1.5px) rotate(-4.5deg);
    -ms-transform: translateY(1.5px) rotate(-4.5deg);
    transform: translateY(1.5px) rotate(-4.5deg);
  }

  .menu-button:hover .bar:nth-of-type(2) {
    opacity: 0.9;
  }

  .menu-button:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-1.5px) rotate(4.5deg);
    -ms-transform: translateY(-1.5px) rotate(4.5deg);
    transform: translateY(-1.5px) rotate(4.5deg);
  }

  .cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    -ms-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
  }

  .cross .bar:nth-of-type(2) {
    opacity: 0;
  }

  .cross .bar:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(45deg);
    -ms-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
  }

  .cross:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(13.5px) rotate(-40.5deg);
    -ms-transform: translateY(13.5px) rotate(-40.5deg);
    transform: translateY(13.5px) rotate(-40.5deg);
  }

  .cross:hover .bar:nth-of-type(2) {
    opacity: 0.1;
  }

  .cross:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-13.5px) rotate(40.5deg);
    -ms-transform: translateY(-13.5px) rotate(40.5deg);
    transform: translateY(-13.5px) rotate(40.5deg);
  }
  /* 약속 css */
  .main_image1 {
    position: relative;
    margin-top: 55px;
}

.main_text1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightsalmon;

    text-align: left;
    font-size: 22px;
}

.main_image2 {
  position: relative;
  margin-top: 280px;
}

.main_text2 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: lightsalmon;

  font-size: 32px;
}

/*  팀원 상세 페이지 css */
.main_image_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  color: lightsalmon;
}
.div1{
  width: 100%;
  height: 100%;
}
.left{
  width: 35%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  background-color:lightsalmon;
  margin-top :px;
}
.right{
  width: 65%;
  height: 100%;
  float: right;
  box-sizing: border-box;
  background-color: rgb(255, 223, 210);
}
.mycard{
  width: 900px;
  height: 600px;
  margin-left: px;
  background-image: url(https://velog.velcdn.com/images/juwon0629/post/2e44e333-ae4c-4264-a543-73112814350f/image.PNG);
  background-position: center;
  background-size: cover;
}
.h1name{
  font-size: 60px;
  width: 180px;
  margin-top: 100px;
  margin-left: 70px;
  color: rgb(242, 165, 135);
  padding-top: 60px;
}
.h1mbti{
  font-size: 30px;
  background-color: lightsalmon;
  width: 130px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 70px;
}
.h1mbti1{
  font-size: 30px;
  width: 180px;
  background-color: lightsalmon;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 70px;
}
.textbox{
  text-align: left;
  line-height: 60px;
  width: 900px;
  margin-top: 40px;
  margin-left: 70px;
  font-size: 17px;
}
.icon{
  width: 100px;
  margin-top: 20px;
  margin-bottom: 100px;
}